body{
	
	background-color: grey;
	text-align: center;
	
}

h1{
	
	backgroud-color: grey;
	text-align: center;
	font-size: 40px;
	
}

h2{
	
	background-color: grey;
	text-align: center;
	font-size: 30px;
	
}


p{
	
	background-color: grey;
	text-align: center;
	font-size:22px;
	
}

.topnav{
	
	border: 1px solid white;
	padding: .4rem;
	background: lightgrey;
	font-size: 30px;
	
}

img{
	
	border-radius: 9px;
	max-width: 100%;
	height: auto;
	
}

/*This is the formatting of the email button of the form*/
input{
	
	width: 35%;
	height: 30px;
	border: 5px solid red;
	font-size: 22px;
	
}

table, th, td{
	
	border: 1px solid black;
	font-size: 22px;
	
}

ul{
	
	font-size: 22px;
	
}

ol{
	
	font-size: 22px;
	
}

/*ul, li, img, h1, p, a, table, form, div, span*/
