@media (max-width:  1920px){
	
	.topnav{
	
	font-size: 22px;
	}
	
	h1{
	
	font-size: 38px;
	
}

h2{
	
	background-color: grey;
	text-align: center;
	font-size: 28px;
	
}


p{
	
	background-color: grey;
	text-align: center;
	font-size:20px;
	
}

input{
	
	width: 33%;
	height: 28px;
	border: 4px solid red;
	font-size: 20px;
	
}

table, th, td{
	
	border: 1px solid black;
	font-size: 20px;
	
}

ul{
	
	font-size: 20px;
	
}

ol{
	
	font-size: 20px;
	
}

}

@media (max-width: 1600px){
	
	.topnav{
	
	font-size: 20px;
	}
	
	h1{
	
	font-size: 36px;
	
}

h2{
	
	background-color: grey;
	text-align: center;
	font-size: 26px;
	
}


p{
	
	background-color: grey;
	text-align: center;
	font-size:18px;
	
}

input{
	
	width: 31%;
	height: 26px;
	border: 4px solid red;
	font-size: 18px;
	
}

table, th, td{
	
	font-size: 18px;
	
}

ul{
	
	font-size: 18px;
	
}

ol{
	
	font-size: 18px;
	
}
	
}

@media (max-width: 1280px){
	
	.topnav{
	
	font-size: 18px;
	}
	
	h1{
	
	font-size: 34px;
	
}

h2{
	
	background-color: grey;
	text-align: center;
	font-size: 24px;
	
}


p{
	
	background-color: grey;
	text-align: center;
	font-size: 16px;
	
}

input{
	
	width: 29%;
	height: 24px;
	border: 3px solid red;
	font-size: 16px;
	
}

table, th, td{
	
	font-size: 16px;
	
}

ul{
	
	font-size: 16px;
	
}

ol{
	
	font-size: 16px;
	
}
	
}

@media (max-width: 800px){
	
	.topnav{
	
	font-size: 16px;
	}
	
	h1{
	
	font-size: 32px;
	
}

h2{
	
	background-color: grey;
	text-align: center;
	font-size: 22px;
	
}


p{
	
	background-color: grey;
	text-align: center;
	font-size:24px;
	
}
	
input{
	
	width: 27%;
	height: 22px;
	border: 3px solid red;
	font-size: 14px;
	
}

table, th, td{
	
	font-size: 14px;
	
}

ul{
	
	font-size: 14px;
	
}

ol{
	
	font-size: 14px;
	
}	

}